@tailwind base;
@tailwind components;
@tailwind utilities;

/* // darkpurple #150b26 130b20
// purple text 860dc3
// light purple e39be2
// dark 0f0a15 */

body {
}

.stroke {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.parent {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: none;
}

.container {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}

.monster {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#myVideo {
  position: fixed;
  left: 0;
  z-index: -1;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
